<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /myprojek/ci_tabler18/
 
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]

  #HTTP to HTTPS -- This checks to make sure the connection is not already HTTPS
  #localhost tak perlu https !!!
  #RewriteCond %{HTTPS} !=on
  #RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</IfModule>

<IfModule !mod_rewrite.c>

  ErrorDocument 404 /index.php
</IfModule>